<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello <%=name%>!</h1>

    <% if (name == "Abdalrhman") { %>
        <h2>It's true!</h2>
    <%  } %>

    <h3>Here are some numbers: 
        <div><%=numbers%></div>
    </h3>
</body>
</html>